<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
    <test name="FrontendFirstTest" >
        <classes>
            <class name="org.example.tests.FrontendFirstTest" />
        </classes>
    </test>
    <test name="BackendTest" >
        <classes>
            <class name="org.example.tests.BackendTest" />
        </classes>
    </test>
    <test name="FrontendSecondTest" >
        <classes>
            <class name="org.example.tests.FrontendSecondTest" />
        </classes>
    </test>
</suite>
